$unit: 'px'
.section
  +w($desktop#{$unit})
$context: 20px
body
  --co: 1
.btn
  span
    &:after
      transition: 1s ease
  i
    font-size: 26px
  &:hover
    span
      &:after
        +wh(600px)
        transform: translateY(-200px) translateX(-160px) rotate(30deg)
        opacity: 1

.head
  a
    &:hover
      path,text
        fill: $yellow
      line
        stroke: $yellow
      color: $yellow

.block
  h1:after
    height: 5px
    margin: 45px 0 50px
  &-html
    h2
      svg
        left: 280px
  &-js
    h2
      svg
        right: 210px