header
    .section
        //.bricks.alic.head
        //    .t3.d2
        //        a(href='#').head-logo.logo.dfac
        //            +img('/logo.svg')
        //            span
        //                span Grammla
        //                span
        //                    span
        //                    span School
        //                    span
        //    .t6.d8
        //        ul.head-nav.dfac
        //            li.head-nav-item
        //                a(href='#').head-link Курсы
        //            li.head-nav-item
        //                a(href='#').head-link Статьи
        //            li.head-nav-item
        //                a(href='#').head-link Контакты
        //    .t3.d2
        //        a(href='#').head-login.head-link Регистрация / Вход