extends template/main
append vars
  -
    page_title= 'Education'
block content
    main
        .row.block
            .section.bricks.alic
                h3.page-h3.d9 О разметке
                .block-desc.d9
                    p Что такое гипертекст? Чем гипертекст отличается от обычного текста? Основная идея гипертекста - это когда один текст ссылается на другой. Так устроен весь интернет, где одна страница(текст) ссылается на другую.
                    p Если посмотреть любой произвольный сайт, например Youtube.com. Открыть его код страницы то там вместо видеороликов мы найдем только текст. С гипертекстом разобрались, а что такое разметка?
                    p Разметка гипертекста, если говорить простым языком придание ему "значения". Как разработчику нам важно, чтоб компьютер понимал, где находится заголовок, список или обычный параграф. Поэтому с помощью элементов разметки мы придаём семантическое значение тексту.
        .row.block
            .section.bricks.alic
                .d9
                    h3.page-h3 HTML - это
                    .block-desc
                        p HTML - это язык разметки гипертекста. Давайте подробнее посмотрим, из чего он состоит. Единица структуры html - элемент.
                .d9
                    h4.page-h4 Элемент
                    .block-desc
                        p Тэг сопутствующий атрибут и его содержимое.
                .d9
                    h4.page-h4 Тэг
                    .block-desc
                        p Ключевое слово для разметки текста и придачи ему семантического значения.
                .d9
                    .block-desc
                        p #[strong Атрибут тега] - дополнительное "поведение", к примеру поменять цвет элемента или задать ему выравнивание.
        .row.block
            .section.bricks.alic
                h3.page-h3.d9 Структура HTML
                .block-desc.d9
                    p Чтобы начать размечать гипертекст(верстать), надо создать файл с расширением.html. Далее следует вписать в файл структуру html.
                    .block-desc-insert
                        .block-desc-insert-shift #[i <]html>
                            .block-desc-insert-shift #[i <]head>
                                .block-desc-insert-shift
                                    span Служебная информация
                            .block-desc-insert-shift #[i <]/head>
                            .block-desc-insert-shift #[i <]body>
                                .block-desc-insert-shift
                                    span Тело документа(содержание)
                            .block-desc-insert-shift #[i <]/body>
                        .block-desc-insert-shift #[i <]/html>
                    p #[strong Тег html] - это основа разметки контейнер для тега head и body. В head распологается служебная информация, то что пользователь не увидит. Элемент body содержит тело документа, то что будет выведено на страницу( сайт ).
                    p Теги бывают 2ух типов. Парные и одиночные теги. Тег состоит из угловой скобки "<" имя тега ">" содержимое тега "<" /имя тега ">".