extends template/main
append vars
  -
    page_title= 'Education'
block content
    main
        .row
            .screen.block.block-education
                include ../img/left-top-triangle.svg
                include ../img/right-top-triangle.svg
                .section.bricks.alic
                    .screen-center.d9
                        .block-underline
                            h1.page-h1 ОБУЧЕНИЕ
                            h2.page-h2 ВЕБ ПРОГРАММИРОВАНИЮ
                            h2.page-h2 И ВЁРСТКЕ
                        button.btn
                            span
                                i Начать
        .row
            .screen.block.block-html
                include ../img/big-orange-triangle.svg
                .section.bricks.alic
                    .screen-center.d9
                        h2.screen-title.page-h1
                            span HTML & CSS
                            include ../img/title-triangle.svg
                        .block-desc
                            p Планируете соделать веб-технологии своей профессией?
                            p Хотите создавать сайты?
                            p Работать верстальщиком, web-дизайнером, а может, интернет-маркетологом?
                            p У вас есть онлайн-проект, который Вы продвигаете сами?
                            p В любом случае, Вам не обойтись без знания HTML и CSS - языков разметки веб-страниц и их внешнего оформления.
                        button.btn.btn-right
                            span
                                i Подробнее
        .row
            .screen.block.block-js
                include ../img/middle-left-rectangle.svg
                include ../img/bottom-left-rectangle.svg
                .section.bricks.alic
                    .screen-center.d9
                        h2.screen-title.page-h1
                            span JavaScript
                            include ../img/title-triangle.svg
                        .block-desc
                            p Javascript – это не Java. JS- это интерпретируемый язык, полноценный столь же сложный как и любой другой и даже более сложный чем некоторые.
                            p Любой кто имеет веб- браузер сможет начать писать и исполнять первые строки кода.
                            p Вас наверное удивит, что в себе скрывают ваши привычные страницы на просторах интернета.
                        button.btn.btn-left
                            span
                                i Подробнее
        .row
            .screen.block