extends template/main
append vars
  -
    page_title= 'Education'
block content
    main
        .section
            .row.first-screen
                .first-screen-center
                    h1 #[span Обучение]#[span веб программированию]
                    button.btn
                        span
                            i Начать

















