extends template/main
append vars
  -
    page_title= 'UiKit'
block content
    main
        .row.block
            .section
                h2.page-h1 .page-h1
                p font-family: geometry-heavy
                p font-size: 90px
                p line-height: 120px
                p margin-bottom: 50px
                h2.page-h2 .page-h2
                p font-family: geometry-heavy
                p font-size: 54px
                p line-height: 66px
                p margin-bottom: 30px
                h2.page-h3 .page-h3
                p font-family: Montserrat-Bold
                p font-size: 42px
                p line-height: 52px
                p margin-bottom: 25px
                h2.page-h4 .page-h4
                p font-family: Montserrat-SemiBold
                p font-size: 33px
                p line-height: 40px
                p margin-bottom: 20px
                h2.page-h5 .page-h5
                p font-family: Montserrat-SemiBold
                p font-size: 26px
                p line-height: 33px
                p margin-bottom: 18px
        .row.block
            .section
                button.btn
                    span
                        i .btn
                p border: 2px solid #373A4A
                p padding: 15px 23px 16px
        .row.block
            .section
                .block-desc
                    p
                        strong .block-desc p strong
                p font-family: Montserrat-SemiBold
                .block-desc
                    p .block-desc p
                p font-family: Montserrat-Regular
                p font-size: 16px
                p line-height: 24px
                p margin-bottom: 20px - у всех кроме последнего абзаца
        .row.block
            .section
                .block-desc-insert
                    .block-desc-insert-shift #[i <]тег">
                        .block-desc-insert-shift
                            span Наполнение тега
                    .block-desc-insert-shift #[i <]/тег>
